body {
    padding-top: 70px;
}

.modal-status{
    padding: 15px 15px 0;
}
.modal-body{
    padding: 0 15px 15px;
}

#signup-form {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

#login-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
#login-form #login-form-heading,
#login-form .checkbox {
    margin-bottom: 10px;
}
#login-form .checkbox {
    font-weight: normal;
}
#login-form .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
#login-form .form-control:focus {
    z-index: 2;
}
#login-form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#login-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

table.table tr td {
    vertical-align: middle !important;
}

table th a, table th a:hover {
    color: #777;
    text-decoration: none;
}

table td a, table td a:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.modal table a {
    color: #428bca;
    text-decoration: none;
}

.modal table a:hover{
    color: #2a6496;
    text-decoration: underline;
}


.pagination {
    margin: 0;
}

.space5 {
    margin-top: 5px;
}
.space10 {
    margin-top: 10px;
}
.space20 {
    margin-top: 20px;
}
.space50 {
    margin-top: 50px;
}

.dashboard td a{
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.btn-group .btn.active{
    font-weight: bold;
    text-shadow: 2px 2px #3c3c3c;
}
.btn-group .btn.btn-default.active{
    text-shadow: 2px 2px #ccc;
}

.text-weight-normal {
    font-weight: normal !important;
}

.text-bold {
    font-weight: bold;
}